<launch>
    <arg name="camera_name"          default="oak" />
    <arg name="urdf_file"            default="$(find my_drone)/urdf/drone.urdf" />
    <arg name="oakd_params_file"     default="$(find my_drone)/config/oakd_params.yaml" />
	<arg name="parent_frame"         default="base_link" />
	
	<param name="robot_description" textfile="$(arg urdf_file)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Publish a static transform from map -> odom. The odom->base_link transform
         will be published by RTAB-Map. This provides a complete tree. -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 map odom 100" />

	<include file="$(find depthai_ros_driver)/launch/camera.launch">
        <arg name="name"                value="$(arg camera_name)"/>
        <arg name="params_file"         value="$(arg oakd_params_file)"/>
        <arg name="parent_frame"        value="$(arg parent_frame)"/>
    </include>
	
	<group ns="rtabmap">
        <!-- RGB-D Odometry Node -->
        <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
		
			<rosparam file="$(find my_drone)/config/rtabmap_params.yaml" command="load" />
			
            <!-- Set the base frame of the robot -->
            <param name="frame_id" type="string" value="base_link"/>
            <!-- The frame for odometry -->
            <param name="odom_frame_id" type="string" value="odom"/>
            <!-- Use an RGB-D camera -->
            <param name="subscribe_rgbd" type="bool" value="true"/>
            <!-- Use approximate time sync -->
            <param name="approx_sync" type="bool" value="true"/>
            <param name="queue_size" type="int" value="30"/>
            
            <!-- RTAB-Map specific parameters for performance -->
            <param name="Odom/Strategy" type="string" value="0"/> <!-- 0=Frame-to-Map (more robust), 1=Frame-to-Frame (faster) -->
            <param name="Vis/MinInliers" type="string" value="15"/>
            <param name="Odom/GuessMotion" type="string" value="true"/>

            <!-- Remap the synchronized rgbd_image topic -->
            <remap from="rgbd_image" to="/rgbd_image"/>
        </node>

		<node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
            <remap from="rgb/image"       to="/$(arg camera_name)/rgb/preview/image_raw"/>
            <remap from="depth/image"     to="/$(arg camera_name)/stereo/image_raw"/>
            <remap from="rgb/camera_info" to="/$(arg camera_name)/rgb/camera_info"/>
            <remap from="rgbd_image"      to="/rgbd_image" />
            <param name="approx_sync" type="bool" value="true"/>
        </node>
    </group>
	
</launch>